body{
  background-color: #f3f3f3;
}


ul{
  display: block;
  list-style: none;
  width: 80%;
}

span{
  background-color: #ccc;
  border-radius: 5px;
  color: #858687;
  display: block;
  padding: 10px;

}



.mensaje{
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 15px;
  margin: 2px;
  max-width: 80%;


  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


}

.mensaje-left{
  clear: both;
  float: left;
  position: relative;


}

.mensaje-right{

  background-color: #8bff7b;

  clear: both;
  float: right;
  position: relative;



}

.mensaje-right:before{

  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -10px;
  left: auto;
  top: 0;
  bottom: auto;
  border: 12px solid;

  border-color: #8bff7b transparent transparent transparent;

  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/


}

/*.mensaje-right:after{

  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -10px;
  left: auto;
  top: 0;
  bottom: auto;
  z-index: -1;
  border: 15px solid;
  border-color: transparent #ffffff #fff #fff;


  !*transform: rotate(270deg);*!


}*/





.mensaje-left:before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  right: auto;
  top: 0;
  bottom: auto;
  border: 12px solid;
  border-color: #eaeaea transparent transparent transparent;

}

div input, button{
  margin: 15px;
  padding: 6px;
}


#btn{

  border: none;
  border-radius: 50%;
  padding: 15px;
  background-color: #9eff7e;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

}

#btn:hover{

  background-color: #478540;
}


#login-content{


  background-color: #ffffff;
  border:1px solid #d8d8d8;

  max-width: 200px;

  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;


  padding: 15px;
  position: absolute;
  z-index: 10;

}

#main-content{

  border-radius: 2px;
  background-color: #ffffff;
  border:1px solid #d8d8d8;
  margin: 15px auto;
  width: 90vw;
  height: 80vh;

  position: relative;

}

#contact-list{

  border-right: 1px solid #d8d8d8;
  float: left;
  width: 30%;
  height: 100%;

}

#chat-content {
  width: auto;
  height: 100%;

  position: relative;

}

#form-message {
  position: absolute;
  bottom: 0;
  right: 0;
}




